{{#if tentacleVisible}}
  <div class="tentacle">
    <img src="https://eviltrout.com/images/tentacle.gif">
  </div>
{{/if}}

<div class="buttons">
  {{d-button label="nft_avatar.show" action="showTentacle" icon="eye" id="show-tentacle"}}
</div>
