/* nft-gallery */
.nft-gallery {
  display: grid;
  gap: 8px;
  grid-auto-flow: dense;
  grid-template-columns: repeat(4, 90px);

  &> * {
    box-sizing: border-box;
    min-width: 0;
    grid-column: auto / span 1;
  }

  & .alert {
    grid-column: auto / span 4;
  }

  & img {
    &:hover {
      background-color: $tertiary-low;
      clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    }
  }

  & .placeholder-avatar {
    width: 90px;
    height: 90px;
    border-radius: 0;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    &:before {
      height: 90px;
    }
  }
}

img.cover {
  object-fit: cover;
  width: 100%;
  display: block;
}

.avatar-selector .avatar-choice {
  margin-bottom: 0.75em;
  grid-template-columns: 2em 1fr auto auto;
}

.avatar-uploader + .avatar-uploader {
  margin-left: 8px;
}

img.avatar.nft, .nft img.avatar {
  border-radius: 0;
  background-color: $tertiary-low;;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
}

.modal .modal-body .success {
  color: var(--success);
}

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }

  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn)
  }
}

.fa-spin {
  animation: fa-spin 2s linear infinite;
}
